<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="MyCon" connectionString="server=192.168.71.13;uid=puser;pwd=123;database=vvw_1"/>
  <add name="MsSqlServer" connectionString="Data Source=PC1500\SQLEXPRESS;Initial Catalog=VVW_1;Persist Security Info=True;User ID=sa;Password=sqlrtg" providerName="System.Data.SOLClient"/>
  </connectionStrings>
  
</configuration>